
body {
  font-family: Arial;
}

#container {
  border: 1px solid #ddd;
  margin: auto;
  padding: 0 15px;
  width: 500px;

  border-radius: 10px;
}

h1 {
  margin: 20px auto 10px;
  width: 500px;
}

h2 {
  color: #d22;
}

code {
  font-family: monaco, monospace;
  font-size: 9pt;
}

.terminal {
  background: #222;
  color: #ddd;
  font-family: monaco, monospace;
  font-size: 9pt;
  padding: 6px 8px;

  border-radius: 10px;
}

.terminal p {
  margin: 0;
}

#footer {
  font-size: .85em;
  margin: 10px auto 20px;
  text-align: right;
  width: 500px;
}

#footer p {
  margin: 0;
}
